<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhouqi.com.myshopping">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ShopApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Presention.details.GoodsDetailActivity" />
        <activity android:name=".Presention.main.myself.LandActivity" />
        <activity android:name=".Presention.main.myself.LoginActivity" />
        <activity android:name=".Presention.main.myself.PersonActivity" />
        <activity android:name=".Presention.main.myself.UpdataImage.ShowImageActivity" />
        <activity android:name=".Presention.main.myself.UpdataImage.UpdataGoodsActivity"></activity>
    </application>

</manifest>