<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhouqi.com.myshopping">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ShopApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Presentation.details.GoodsDetailActivity" />
        <activity android:name=".Presentation.main.myself.LandActivity" />
        <activity android:name=".Presentation.main.myself.LoginActivity" />
        <activity android:name=".Presentation.main.myself.PersonActivity"></activity>
    </application>

</manifest>